.navbar-line {
  background-color: transparent;
}

.navbar {
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

.navbar-item a {
  color: #D7D7D7;
  letter-spacing: 5px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

.navbar-item:not(:last-child) {
  margin-right: 20px;
}

.navbar-item a:hover {
  color: #9D9FD0;
}

.navbar-item a:active {
  color: #8081A9;
}