@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background: #FEFEFE url() 0 0 no-repeat;
  overflow-x: hidden;
}

* a {
  color: inherit;
  text-decoration: none;
}

* textarea {
  resize: none;
}

section {
  width: 100%;
}

.before-FAwesome:before {
  color: #fff;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  left: 0;
  position: absolute;
  text-decoration: inherit;
  top: 0;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.page-block {
  margin-bottom: 70px;
}
.page-block h2, .page-block span {
  display: block;
  text-align: center;
  color: #d0d0d0;
  margin: 0 auto 30px auto;
}
.page-block h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  position: relative;
}
.page-block h2:after {
  content: "";
  display: inline-block;
  height: 1px;
  background: #484848 url() 0 0 no-repeat;
  position: absolute;
  top: 50%;
  right: 30%;
  width: 150px;
}
.page-block h2:before {
  content: "";
  display: inline-block;
  height: 1px;
  background: #484848 url() 0 0 no-repeat;
  position: absolute;
  top: 50%;
  left: 30%;
  width: 150px;
}

.display_none {
  display: none !important;
}

mark {
  background-color: inherit;
  color: #7DCCC8;
}

/*===FLEX===*/
.row {
  display: flex;
  width: 100%;
}
.row_column {
  flex-direction: column;
}

.before-img {
  position: relative;
}
.before-img:before {
  background-size: cover;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/*===/FLEX===*/
main {
  width: 100%;
}

header {
  width: 100%;
  background-color: #EDEDED;
}

/*===NAV===*/
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
nav a {
  font-size: 13px;
  font-weight: 800;
  margin-right: 4rem;
  transition: all 170ms;
}
nav a:last-child {
  margin-right: 0;
}
nav a:hover {
  color: #2ABBA0;
}

.logo-box {
  border-radius: 50%;
  display: block;
  flex: 0 0 70px;
  height: 70px !important;
  overflow: hidden;
  margin: 30px 30px 30px 0;
}

.logo {
  background: #fff url("img/logo/logo.png") 50% 50% no-repeat;
  background-size: cover;
}

/*===/NAV===*/
/*===SEARCH===*/
form {
  background: #fff url() 0 0 no-repeat;
  position: relative;
}

input, button {
  background-color: transparent;
  border: none;
  outline: none;
}

button {
  background: #fff url() 0 0 no-repeat;
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 14px;
}
button:before {
  content: "";
}

input::-webkit-input-placeholder {
  color: #FFF;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:-moz-placeholder {
  color: #FFF;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:-ms-input-placeholder {
  color: #FFF;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

/*===/SEARCH===*/
h1 {
  margin-bottom: 20px;
  font-size: 35px;
  line-height: 22px;
  color: #606060;
  font-weight: 800;
}

.our-job .container > span {
  font-size: 25px;
  line-height: 22px;
  color: #606060;
  font-weight: 300;
}

/*===SLIDER===*/
/* Слайдер */
.slick-slider {
  margin-top: 65px;
  position: relative;
}

/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Слайд */
.slick-slide {
  max-height: 550px;
  position: relative;
}
.slick-slide img {
  max-height: 550px;
  width: 100%;
  max-width: 1200px;
  object-fit: cover;
}

/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.slick-arrow {
  position: absolute;
  display: inline-block;
  width: 46px;
  height: 46px;
  z-index: 100;
  top: 50%;
  font-size: 0;
  transition: all 150ms;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  left: 20px;
  background: rgba(255, 255, 255, 0.2) url("img/icons/leftArrow.svg") 50% 50% no-repeat;
}
.slick-arrow.slick-prev:hover {
  background-color: #fff;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 20px;
  background: rgba(255, 255, 255, 0.2) url("img/icons/rightArrow.svg") 50% 50% no-repeat;
}
.slick-arrow.slick-next:hover {
  background-color: #fff;
}

.slide-text {
  position: absolute;
  bottom: 40px;
  left: 40px;
  max-width: 1120px;
}
.slide-text span {
  display: inline-block;
  padding: 17px 20px;
  background: #fff url() 0 0 no-repeat;
}
.slide-text span a {
  color: #2ABBA0;
}

.slide-title {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 22px;
  color: #606060 !important;
  font-weight: 500;
  margin-bottom: 10px;
}

.slide-description {
  font-size: 16px;
  line-height: 22px;
  color: #606060 !important;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
h3 {
  font-size: 15px;
  line-height: 26px;
  color: #606060;
}

span {
  font-size: 14px;
  line-height: 25px;
  color: #7a7a7a;
  font-weight: 500;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  color: #606060;
  font-weight: 800;
  margin-bottom: 40px;
}

.what-we-do h2 {
  color: #606060;
}
.what-we-do h2:before {
  background: #e1e1e1 url() 0 0 no-repeat;
}
.what-we-do h2:after {
  background: #e1e1e1 url() 0 0 no-repeat;
}
.what-we-do .row .row-item {
  flex: 0 1 25%;
  padding: 0 16px;
}
.what-we-do .row .row-item > div {
  border: 1px solid #ACACAC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px 50px 20px;
  position: relative;
}
.what-we-do .row .row-item > div:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 97%;
  height: 97%;
 
  border: 1px solid #acacac;
}
.what-we-do .row .row-item .icon {
  display: inline-block;
  width: 56px;
  height: 56px;
  margin-bottom: 30px;
}
.what-we-do .row .row-item h4 {
  text-transform: uppercase;
  font-size: 15px;
  color: #606060;
  margin-bottom: 20px;
  font-weight: 800;
}
.what-we-do .row .row-item span {
  color: #7a7a7a;
}

.print .icon {
  background: #fff url("img/icons/printer.svg") 50% 50% no-repeat;
}

.video .icon {
  background: #fff url("img/icons/TV.svg") 50% 50% no-repeat;
}

.package .icon {
  background: #fff url("img/icons/present.svg") 50% 50% no-repeat;
}

.managment .icon {
  background: #fff url("img/icons/clock.svg") 50% 50% no-repeat;
}

.our-process-img {
  background: #fff url("img/content/ourProcess.webp") 50% 50% no-repeat;
  background-size: cover;
  height: 400px;
}
.our-process-img > span {
  transition: all 1.5s;
}

.process-way {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
}

.process-item {
  flex: 0 1 13%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.process-item h4 {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  color: #dddddd;
  margin-bottom: 20px;
  font-weight: 800;
}

.picture {
  transition: all 1s;
}

.idea {
  background: rgba(0, 0, 0, 0) url("img/icons/idea.svg") 50% 50% no-repeat;
}

.solution {
  background: rgba(0, 0, 0, 0) url("img/icons/rocket.svg") 50% 50% no-repeat;
}

.magic {
  background: rgba(0, 0, 0, 0) url("img/icons/magic.svg") 50% 50% no-repeat;
}

.winning {
  background: rgba(0, 0, 0, 0) url("img/icons/prize.svg") 50% 50% no-repeat;
}

.process-no-visible {
  color: rgba(0, 0, 0, 0) !important;
  position: absolute;
  z-index: -1000;
}

.picture-1_active {
  background: #1ABB9C url("img/icons/idea_active.svg") 50% 50% no-repeat;
}

.picture-2_active {
  background: #1ABB9C url("img/icons/rocket_active.svg") 50% 50% no-repeat;
}

.picture-3_active {
  background: #1ABB9C url("img/icons/magic_active.svg") 50% 50% no-repeat;
}

.picture-4_active {
  background: #1ABB9C url("img/icons/prize_active.svg") 50% 50% no-repeat;
}

.picture {
  width: 91px;
  max-width: 91px;
  height: 91px;
  border-radius: 50%;
  border: 1px solid #1ABB9C;
  background-size: 50%;
  margin-bottom: 25px;
}

.line {
  position: relative;
  top: 45px;
  flex: 0 1 20%;
  height: 1px;
  background: #484848 url() 0 0 no-repeat;
}

h4 {
  display: block;
  text-align: center;
  color: #d0d0d0;
  width: 100%;
  text-transform: uppercase;
}

.recenz h2 {
  color: #666;
}
.recenz h2:before {
  left: 27%;
  background: #e1e1e1 url() 0 0 no-repeat;
}
.recenz h2:after {
  right: 27%;
  background: #e1e1e1 url() 0 0 no-repeat;
}
.recenz .page-block {
  overflow: hidden;
  position: relative;
}
.recenz .page-block > .row {
  justify-content: space-between;
}
.recenz .page-block > .row .row-item {
  padding: 0 15px;
  flex: 0 1 373px;
}
.recenz .page-block > .row .row-item h4 {
  color: #656565;
  font-weight: 800;
  margin-bottom: 20px;
}
.recenz .page-block > .row .row-item a {
  color: #7DCCC8;
  margin-bottom: 10px;
}

.recenz__text-block {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.recenz__text-block span {
  color: #646464;
}

.disk-img {
  background: #fff url("img/content/diskMockup.png") 50% 50% no-repeat;
}

.buisness-card-img {
  background: #fff url("img/content/busnessCard.webp") 50% 50% no-repeat;
}

.infographic-img {
  background: #fff url("img/content/infographic.png") 50% 50% no-repeat;
}

.recenz__img {
  max-width: 100%;
  height: 250px;
  background-size: cover;
  margin-bottom: 20px;
}

.what-think {
  background: #fff url("img/content/testimonials.webp") 50% 50% no-repeat;
  height: 330px;
  background-attachment: fixed;
  background-size: cover;
}
.what-think h2 {
  color: #CECECE;
}
.what-think h2:before {
  left: 25%;
}
.what-think h2:after {
  right: 25%;
}

.quote {
  color: #CECECE;
  font-size: 19px;
  text-align: center;
  flex: 0 0 880px;
  margin: 0 auto 20px auto;
  transition: all 1s;
}
.quote mark {
  font-weight: 600;
}
.quote blockquote {
  margin-bottom: 30px;
}

.text-slider {
  justify-content: center !important;
  overflow: hidden;
}

.slider-dots {
  margin: 0 auto;
  display: flex;
  justify-content: center !important;
  width: auto;
}

.quote-dots {
  display: inline-block;
  width: 12px;
  height: 15px;
  border: 1px solid;
  border-color: #555759;
  margin: 0 5px;
}

.quote-dot_active {
  border-color: #fff;
}

.from-the-journal > .row {
  margin: 0 !important;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start !important;
}
.from-the-journal > .row .row-items {
  flex: 0 1 33.3333%;
  padding: 0 10px;
}

.recenz__journal > .row {
  margin-bottom: 10px;
}
.recenz__journal > .row .row_colum {
  align-items: center;
}

.recenz__data {
  margin-right: 10px;
  text-transform: uppercase;
  border: 1px solid #939393;
  padding: 10px;
}
.recenz__data > span {
  font-size: 15px;
  line-height: 16px;
  color: #939393;
  margin-bottom: 0;
  font-weight: 600;
}
.recenz__data .number {
  font-size: 20px;
}

.journal-name {
  text-align: left !important;
  margin-bottom: 0 !important;
  font-weight: 700 !important;
  color: #606060 !important;
}

.journal-text {
  color: #828282 !important;
  text-align: left !important;
}

.recenz__jjj-img {
  background: #fff url("img/content/jjj.png") 50% 50% no-repeat;
}

.recenz__old-sclool-img {
  background: #fff url("img/content/oldSchool.webp") 50% 50% no-repeat;
}

.recenz_retro-img {
  background: #fff url("img/content/vintagePoster.webpmargin") 50% 50% no-repeat;
}

.full-width {
  width: 100%;
  padding: 50px;
  background-attachment: fixed;
  background-size: cover;
}

.journal-img {
  margin-bottom: 20px;
  max-width: 100%;
  height: 251px;
  background-size: cover;
}

.to-hidden {
  color: rgba(0, 0, 0, 0) !important;
  transform: translate(-1200px, 0);
  transition: all 1.3s;
  position: absolute;
  max-width: 880px;
}

.slide_active {
  display: block;
  opacity: 1;
  transition: all 1.3s;
  transform: translate(0, 0);
}

.slide_unactive {
  position: absolute;
  z-index: -1000;
  color: rgba(0, 0, 0, 0);
  transform: translate(2400px, 0);
  transition: all 1.3s;
}

footer {
  background: #373737 url() 0 0 no-repeat;
  color: #C7C7C7;
  padding: 60px 0 0 0;
  width: 100%;
}
footer .container .footer_row {
  display: flex;
  margin: 0 -10px;
}
footer .container .footer_row > ul {
  padding: 0 10px;
}
footer .container li {
  font-size: 14px;
  line-height: 24px;
  color: #cacaca;
  font-weight: 500;
  margin-bottom: 30px;
}
footer .container li p {
  margin-bottom: 20px;
}
footer .container li p:last-child {
  margin: 0;
}
footer .container .contacts {
  margin-bottom: 0;
  position: relative;
}
footer .container .contacts:before {
  position: absolute;
  top: 0;
  left: 0;
}
footer .container .contacts span {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  color: #cacaca;
  font-weight: 500;
  padding-left: 20px;
  text-align: left;
}
footer .container .footer-title {
  font-size: 14px;
  line-height: 22px;
  color: #f0f0f0;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
footer .copyright {
  background: #333 url() 0 0 no-repeat;
  color: #C7C7C7;
  padding: 30px 0;
  margin-top: 60px;
}